ENV_STATE=dev
DEBUG=True
SECRET_KEY=your-secret-key

DATABASE_URL=postgresql+asyncpg://username:1234@localhost:5432/socialapi

# Email Mailgun (optional)
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7